/* CSS FOR LOGIN FORM*/
.modal-form {
    margin-top: 0%;
}

.form-control {
    height: 6vh;
    margin-top: -4px;
}

.form-check {
    font-size: 13px;
    color: #4f4f4f;
}

.checkbox-heading {
    color: rgb(241, 79, 98);
    font-weight: bold;
    text-decoration: none;
}

.checkbox-heading:hover {
    background-color: white;
    color: rgb(241, 79, 98);
}

.login-account {
    height: 6vh;
    width: 100%;
    margin-top: -4px;
    color: white;
    margin-bottom: 5px;
    background-color: #EF4F5F;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 22px;
}

.login-account:hover {
    background-color: rgb(232, 50, 71);
}

.already-login {
    font-size: 18px !important;
    letter-spacing: 0.03em;
    color: #4f4f4f;
    width: 100%;
    margin-left: -3.7%;
}

.login-button {
    text-decoration: none;
    color: rgb(241, 79, 98);
    font-size: 18px !important;
    letter-spacing: 0.03em;
}

.login-button:hover {
    color: rgb(232, 50, 71);
}