.main-part {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 22px;
    z-index: 200;
    margin: 5% auto;
}

.contact-left-part {
    width: 100%;
}

.contact-right-part {
    width: 70%;
}