@media (min-width: 1200px) and (max-width: 1400px) {

    .main-heading {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 4%;
    }

    .main-localities {
        width: 100%;
        margin: auto;
        margin-top: 7%;
    }

    .localities {
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-evenly;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        row-gap: 22px;
        width: 30%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas {
        padding: 8px 8px;
    }

    .areas-heading {
        font-size: 21px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 350;
        font-style: normal;
    }

    .areas-name {
        font-size: 17px;
        font-weight: 350;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin-top: 7%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .main-heading {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 4%;
    }

    .main-localities {
        width: 100%;
        margin: auto;
        margin-top: 7%;
    }

    .localities {
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-evenly;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        row-gap: 22px;
        width: 30%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas {
        padding: 8px 8px;
    }

    .areas-heading {
        font-size: 21px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 350;
        font-style: normal;
    }

    .areas-name {
        font-size: 17px;
        font-weight: 350;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin-top: 7%;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    .main-heading {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 4%;
    }

    .main-localities {
        width: 100%;
        margin: auto;
        margin-top: 7%;
    }

    .localities {
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-evenly;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        row-gap: 22px;
        width: 30%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas-heading {
        font-size: 21px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 350;
        font-style: normal;
    }

    .areas{
        padding:4px 5px ;
    }

    .areas-name {
        font-size: 17px;
        font-weight: 350;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin-top: 7%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    .main-heading {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 4%;
    }

    .main-localities {
        width: 100%;
        margin: auto;
        margin-top: 7%;
    }

    .localities {
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-evenly;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        row-gap: 22px;
        width: 30%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas{
        padding:4px 5px ;
    }

    .areas-heading {
        font-size: 20px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 350;
        font-style: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .areas-name {
        font-size: 17px;
        font-weight: 350;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin-top: 7%;
    }

}

@media (max-width: 575px) {

    .main-heading {
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.03em;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .localities {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        width: 100%;
        margin-bottom: 2%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 20px;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas {
        padding: 10px 10px;
    }

    .areas-heading {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
    }

    .areas-name {
        font-size: 16px;
        font-weight: 300;

    }

    .areas-heading-last {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}