body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-container {
    width: 80%;
    margin:0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

.collapse-heading {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}

.panel {
    margin-top: 2%;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #1c1c1c;
    background-color: white;
    border: 1px solid #E8E8E8 !important;
    border-radius: 10px !important;
    border-style: unset;
    letter-spacing: 0.03em;
    padding: 1px 1px;
}

.panel:hover {
    box-shadow: 0.6px 0.6px gainsboro;
    color: black;
}
