.main-image {
    width: 100%;
    background-image:url("https://b.zmtcdn.com/webFrontend/8015dbe54fd3659cc0366c1cc77f664c1601890512.jpeg?output-format=webp");
    height: 316px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-heading {
    font-size: 54px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.07em;
    text-align: center;

}