body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1401px) {
  .custom-container {
    max-width: 1340px;
    margin: 0 auto;
  }

}

@media (min-width: 1200px) and (max-width:1400px) {
  .custom-container {
    max-width: 1140px;
    margin: 0 auto;
  }

}

@media (min-width: 992px) and (max-width:1199px) {
  .custom-container {
    max-width: 960px;
    margin: 0 auto;
  }

}

@media (min-width: 768px) and (max-width:991px) {
  .custom-container {
    max-width: 720px;
    margin: 0 auto;
  }

}

@media (min-width: 576px) and (max-width:767px) {
  .custom-container {
    max-width:540px;
    margin: 0 auto;
  }

}

@media (min-width: 576px) and (max-width:767px) {
  .custom-container {
    max-width: 100%;
    margin: 0 auto;
  }

}