body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Okra', Helvetica, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line{
  border-bottom: 3px solid red ;
  width: 100%;
}

.custom-container{
  max-width: 1200px;
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1100px;
    margin: 0 auto;
  }

}

@media (min-width: 1200px) and (max-width:1400px) {
  .custom-container {
    max-width: 1140px;
    margin: 0 auto;
  }

}

@media (min-width: 992px) and (max-width:1199px) {
  .custom-container {
    max-width: 960px;
    margin: 0 auto;
  }

}

@media (min-width: 768px) and (max-width:991px) {
  .custom-container {
    max-width: 720px;
    margin: 0 auto;
  }

}

@media (min-width: 576px) and (max-width:767px) {
  .custom-container {
    max-width:540px;
    margin: 0 auto;
  }

}

@media (max-width:575px) {
  .custom-container {
    max-width: 90%;
    margin: 0 auto;
  }

}