
.main-collection {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}

.collection-heading {
    margin-top: 2%;
    margin-bottom: 0.3%;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
}

.collection-paragraph {
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
}

.mobile-collection {
    display: none;
}

.city-collection {
    margin-right: 1%;
    margin-top: 5.4%;
    font-weight: 550;
    font-size: 17px;
    font-style: normal;
    letter-spacing: 0.02em;
    display: block;
}

.city-collection a {
    text-decoration: none;
    color: rgb(238, 106, 121);
    font-weight: 300;
    font-style: normal;
}

.city-collection a:hover {
    color: rgb(238, 106, 121);
}

.collection {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.collection-item {
    border: 1px solid gainsboro;
    width: 98%;
    border-radius: 20px;
    position: relative;
    text-align: center;
    color: white;
}

.collection-item img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}

.collection-anchor {
    width: 100%;
    text-decoration: none;
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 26px;
    left: 16px;
    font-size: 18px;
    color: white;
}

.bottom-left1 {
    position: absolute;
    bottom: 2px;
    left: 16px;
    font-size: 18px;
    color: white;
}

@media (max-width:320px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .collection-heading {
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -4px;
        margin-top: 12px;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }


    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: auto;
    }

    .mobile-collection-anchor {
        width: 140px;
        height: 300px;
        margin: auto;
        margin-top: 5px;
    }

    .mobile-collection-item {
        width: 163px;
        height: 297px;
        margin: auto;
        margin-left: -4px;
    }

    .mobile-collection-item img {
        width: 17px;
        height: 297px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        transform: scale(1);
        transition: all 1.4s ease 0s;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 7px;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 7px;
        font-weight: 500;
        text-decoration: none !important;
    }

}

@media (min-width:321px) and (max-width:360px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .collection-heading {
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -4px;
        margin-top: 12px;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }


    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: auto;
    }

    .mobile-collection-anchor {
        width: 160px;
        height: 300px;
        margin: auto;
        margin-top: 5px;
    }

    .mobile-collection-item {
        width: 163px;
        height: 297px;
        margin: auto;
        margin-left: -4px;
    }

    .mobile-collection-item img {
        width: 157px;
        height: 297px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        transform: scale(1);
        transition: all 1.4s ease 0s;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 7px;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 7px;
        font-weight: 500;
        text-decoration: none !important;
    }

}

@media (min-width: 361px) and (max-width: 400px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .collection-heading {
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -4px;
        margin-top: 12px;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }


    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: auto;
    }

    .mobile-collection-anchor {
        width: 163px;
        height: 300px;
        margin: auto;
        margin-top: 5px;
    }

    .mobile-collection-item {
        width: 163px;
        height: 297px;
        margin: auto;
        margin-left: -4px;
    }

    .mobile-collection-item img {
        width: 160px;
        height: 297px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        transform: scale(1);
        transition: all 1.4s ease 0s;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 7px;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 7px;
        font-weight: 500;
        text-decoration: none !important;
    }

}

@media (min-width: 401px) and (max-width: 420px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 92%;
        margin: auto;
        margin-top: 10px;
    }

    .collection-heading {
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -4px;
        margin-top: 12px;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }

    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 95%;
        justify-content: space-around;
        margin: auto;

    }

    .mobile-collection-anchor {
        width: 188px;
        height: 300px;
        margin: auto;
        margin-top: 8px;
    }

    .mobile-collection-item {
        width: 185px;
        height: 297px;
        margin: auto;
    }

    .mobile-collection-item img {
        width: 185px;
        height: 297px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        transform: scale(1.01);
        transition: all 1.4s ease 0s;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 4px;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 4px;
        font-weight: 500;
        text-decoration: none !important;
    }

}

/* @media (min-width: 420px) and (max-width: 450px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 92%;
        margin: auto;
        margin-top: 10px;
    }

    .collection-heading {
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -4px;
        margin-top: 12px;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }

    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 95%;
        justify-content: space-around;
        margin: auto;

    }

    .mobile-collection-anchor {
        width: 194px;
        height: 300px;
        margin: auto;
        margin-top: 8px;
    }

    .mobile-collection-item {
        width: 185px;
        height: 297px;
        margin: auto;
    }

    .mobile-collection-item img {
        width: 191px;
        height: 297px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        transform: scale(1.01);
        transition: all 1.4s ease 0s;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 4px;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 4px;
        font-weight: 500;
        text-decoration: none !important;
    }

} */
