body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footer {
    background-color: #f8f8f8;
}

.main-container-2 {
    display: none;
}

.main-container-1 {
    background-color: #f8f8f8;
}

.container-footer {
    overflow: hidden;
    margin: 0 auto;
}

.headings {
    display: flex;
    align-items: center;
    padding-top: 4%;
}

.zomato-name {
    width: 20%;
    margin-left: 4.3%;
    font-weight: bold;
}

.zomato-name img {
    width: 52%;
    margin-left: 5%;
    font-weight: bold;
    object-fit: cover;
}

.select-country {
    width: 10%;
    margin-left: 49%;
}

.select-country-name {
    width: 100%;
}

.select-language {
    width: 10%;
    margin-left: 1%;
}

.information {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 2%;
}

.footer-heading {
    font-size: 14px;
    margin-top: 3%;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.16em;
}

.footer-content {
    text-decoration: none;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.07em;
}

.footer-content:hover {
    color: rgb(124, 123, 123);
}

.about-zomato {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20%;
}

.zomaverse {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20%;
}

.places {
    width: 20%;
}

.restaurants {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.enterprises {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 4%;
}

.learn-more {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20%;
}

.social-links {
    width: 25%;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: -28px;
}

.footer-link {
    text-decoration: none;
    color: black;
}

.download-link-2 {
    display: flex;
    flex-direction: column;
    width: 0%;
    align-items: center;
    margin-left: -3.5%;
}

.android-image {
    object-fit: fill;
    width: 9rem;
    margin-top: 1%;
    overflow: hidden;
    position: absolute;
}


.ios-image {
    object-fit: fill;
    width: 9rem;
    margin-top: 4.5%;
    overflow: hidden;
    position: absolute;
}

.footer-bottom {
    margin: auto;
    color: #4f4f4f;
    font-size: 14.5px;
    font-weight: 300;
    font-family: Okra, Helvetica, sans-serif;
    font-style: normal;
    margin-top: 100px;
    padding-bottom: 40px;
}
